/********************************************************************

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700

*********************************************************************************************************/

/********************************/
/*** BASE STYLE ***/
/********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*** Colors ***/
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --vary-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*Paragraph */
  --very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */

  /*** Width ***/

  --mobile: 375px;
  --desktop: 1440px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Lexend Deca", "Courier New", Courier, monospace;
  font-size: 15px;
}
/********************************/
/*** Container ***/
/********************************/
main {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  height: 350px;
  border-radius: 5px;
  margin: 100px auto;
  border-radius: 10px;
}
/********************************/
/*** Cards ***/
/********************************/
.card {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 28px 35px;
  height: 100%;
  justify-content: space-between;
}

.card-1 {
  background: var(--bright-orange);
}
.card-2 {
  background: var(--dark-cyan);
}
.card-3 {
  background: var(--vary-dark-cyan);
}

/********************************/
/*** Image container (SVG) ***/
/********************************/
.img {
  display: flex;
  width: 60px;
}
/********************************/
/*** BASE STYLE FOR ALL ICONS***/
/********************************/
.icon {
  height: 3rem;
  width: 50px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
.img--1 {
  background-image: url("/images/icon-sedans.svg");
}
.img--2 {
  background-image: url("/images/icon-suvs.svg");
}
.img--3 {
  background-image: url("/images/icon-luxury.svg");
}

/********************************/
/*** HEADING***/
/********************************/
h1 {
  color: #fff;
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
}

/********************************/
/*** PARAGRPH ***/
/********************************/
p {
  color: var(--transparent-white);
  font-weight: 300;

  text-align: justify;
  font-size: 13px;
  width: 90%;
  font-family: "Lexend Deca";
}
/********************************/
/*** BASE STYLE FOR LINKS***/
/********************************/
a {
  background-color: #fff;
  text-decoration: none;

  border: 1px solid var(--transparent-white);
  width: 60%;
  padding: 8px 3px;
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 25px;
  font-size: 11px;
}

.btn-1 {
  color: var(--bright-orange);
}
.btn-2 {
  color: var(--dark-cyan);
}
.btn-3 {
  color: var(--vary-dark-cyan);
}
/********************************/
/*** HOVER EFFECT***/
/********************************/
.btn-1:hover {
  color: #fff;
  background-color: var(--bright-orange);
}
.btn-2:hover {
  color: #fff;
  background-color: var(--dark-cyan);
}
.btn-3:hover {
  color: #fff;
  background-color: var(--vary-dark-cyan);
}

/********************************/
/*** MEDIA QUERY FOR  Mobile: 375px ***/
/********************************/

@media screen and (max-width: 1200px) {
  main {
    height: auto;
    width: 75%;
    overflow: hidden;
    border-radius: 5px;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 100px) {
  main {
    height: auto;
    width: 85%;
    overflow: hidden;
    border-radius: 5px;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  main {
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  main {
    flex-flow: column;
    height: auto;
    width: 45%;
    overflow: hidden;
    border-radius: 5px;
  }

  .card {
    width: 100%;
  }
}
